# Messy data

In [1]:
import pandas as pd

In [2]:
survey_data = pd.read_csv("../data/salary_survey_2023.csv")

In [3]:
survey_data.shape

(17164, 20)

In [4]:
print(survey_data.head(2))

            Timestamp How old are you?  \
0  4/11/2023 11:02:00            35-44
1  4/11/2023 11:02:07            25-34

                                   Industry  \
0        Government & Public Administration
1  Galleries, Libraries, Archives & Museums

                     Functional area of job                 Job title  \
0              Engineering or Manufacturing        Materials Engineer
1  Galleries, Libraries, Archives & Museums  Assistant Branch Manager

  Job title - additional context  Annual salary (gross)  \
0                            NaN                 125000
1                            NaN                  71000

   Additional monetary compensation Currency Currency - other  \
0                             800.0      USD              NaN
1                               0.0      USD              NaN

  Income - additional context        Country       State            City  \
0                         NaN  United States  California      Ridgecrest
1                         NaN  United States    Virginia  Fairfax County

  Remote or on-site? Years of experience, overall  \
0            On-site                  11-20 years
1            On-site                   8-10 years

  Years of experience in field Highest level of education completed Gender  \
0                  11-20 years                       College degree    Man
1                    5-7 years                      Master's degree    Man

    Race
0  White
1  White

In [5]:
survey_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17164 entries, 0 to 17163
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Timestamp                             17164 non-null  object
 1   How old are you?                      17164 non-null  object
 2   Industry                              17118 non-null  object
 3   Functional area of job                17053 non-null  object
 4   Job title                             17164 non-null  object
 5   Job title - additional context        3910 non-null   object
 6   Annual salary (gross)                 17164 non-null  int64
 7   Additional monetary compensation      13147 non-null  float64
 8   Currency                              17164 non-null  object
 9   Currency - other                      90 non-null     object
 10  Income - additional context           1695 non-null   object
 11  Country                               17164 non-null  object
 12  State                                 14179 non-null  object
 13  City                                  17096 non-null  object
 14  Remote or on-site?                    17100 non-null  object
 15  Years of experience, overall          17164 non-null  object
 16  Years of experience in field          17164 non-null  object
 17  Highest level of education completed  17115 non-null  object
 18  Gender                                17081 non-null  object
 19  Race                                  17095 non-null  object
dtypes: float64(1), int64(1), object(18)
memory usage: 2.6+ MB

In [6]:
for i, c in enumerate(survey_data.columns):
    print(f"{i}: {c}")

0: Timestamp
1: How old are you?
2: Industry
3: Functional area of job
4: Job title
5: Job title - additional context
6: Annual salary (gross)
7: Additional monetary compensation
8: Currency
9: Currency - other
10: Income - additional context
11: Country
12: State
13: City
14: Remote or on-site?
15: Years of experience, overall
16: Years of experience in field
17: Highest level of education completed
18: Gender
19: Race

In [7]:
survey_data[survey_data["Additional monetary compensation"].map(lambda x: isinstance(x, float))]

,Timestamp,How old are you?,Industry,Functional area of job,Job title,Job title - additional context,Annual salary (gross),Additional monetary compensation,Currency,Currency - other,Income - additional context,Country,State,City,Remote or on-site?,"Years of experience, overall",Years of experience in field,Highest level of education completed,Gender,Race
0,4/11/2023 11:02:00,35-44,Government & Public Administration,Engineering or Manufacturing,Materials Engineer,NaN,125000,800.0,USD,NaN,NaN,United States,California,Ridgecrest,On-site,11-20 years,11-20 years,College degree,Man,White
1,4/11/2023 11:02:07,25-34,"Galleries, Libraries, Archives & Museums","Galleries, Libraries, Archives & Museums",Assistant Branch Manager,NaN,71000,0.0,USD,NaN,NaN,United States,Virginia,Fairfax County,On-site,8-10 years,5-7 years,Master's degree,Man,White
2,4/11/2023 11:02:12,35-44,Education (Higher Education),Education (Higher Education),Director of Financial Aid,NaN,60000,0.0,USD,NaN,NaN,United States,Oklahoma,Anadarko,On-site,21-30 years,11-20 years,College degree,Woman,White
3,4/11/2023 11:02:15,25-34,Education (Higher Education),Government & Public Administration,Administrative Assistant,NaN,42000,NaN,USD,NaN,NaN,United States,Virginia,Richmond,On-site,2-4 years,2-4 years,College degree,Man,White
4,4/11/2023 11:02:25,18-24,"Accounting, Banking & Finance",Administration,Executive Assistant,NaN,65000,0.0,USD,NaN,NaN,United States,Utah,Orem,On-site,2-4 years,2-4 years,Some college,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17159,5/22/2024 21:19:00,35-44,Retail,Engineering or Manufacturing,Senior Product Developer,NaN,106000,10000.0,CAD,NaN,NaN,Canada,NaN,"Toronto, Ontario",Hybrid,11-20 years,11-20 years,University Degree,Man,White
17160,6/7/2024 12:18:11,45-54,Nonprofits,"Marketing, Advertising & PR",Director of communications,Marketing and communications,86000,0.0,USD,NaN,NaN,United States,Georgia,Powder Springs,On-site,21-30 years,8-10 years,Some college,Man,White
17161,6/19/2024 10:57:37,45-54,Education (Higher Education),Education (Higher Education),lecturer,NaN,72,NaN,EUR,NaN,NaN,Germany,NaN,Bavaria,Hybrid,21-30 years,21-30 years,Master's degree,Woman,White
17162,6/23/2024 16:11:57,55-64,Health care,Health care,Resource nurse,Infusion specialist,116000,0.0,USD,NaN,NaN,United States,Minnesota,Minneapolis,Hybrid,41 years or more,11-20 years,College degree,Man,White
17163,7/2/2024 22:34:20,55-64,Sales,Sales,Call Center QA,NaN,62400,0.0,USD,NaN,1099,United States,North Carolina,Raleigh,Fully remote,11-20 years,2-4 years,College degree,Woman,White

In [8]:
non_int_rows = survey_data[survey_data["Additional monetary compensation"] % 1 != 0]

In [9]:
non_int_mask = survey_data["Additional monetary compensation"] % 1 != 0
non_int_values = survey_data[non_int_mask].loc[:, "Additional monetary compensation"]

print(f"Shape: {non_int_values.shape}")
print(non_int_values)

Shape: (4017,)
3       NaN
7       NaN
8       NaN
10      NaN
13      NaN
         ..
17147   NaN
17148   NaN
17152   NaN
17153   NaN
17161   NaN
Name: Additional monetary compensation, Length: 4017, dtype: float64

In [10]:
survey_data[survey_data["Additional monetary compensation"] % 1 != 0].loc[:, "Additional monetary compensation"]

3       NaN
7       NaN
8       NaN
10      NaN
13      NaN
         ..
17147   NaN
17148   NaN
17152   NaN
17153   NaN
17161   NaN
Name: Additional monetary compensation, Length: 4017, dtype: float64

In [13]:
# survey_data.loc[:, "Additional monetary compensation"] = survey_data[].map(lambda x: isinstance(x, float))

SyntaxError: invalid syntax (3175131165.py, line 1)

In [ ]:
survey_data

,Timestamp,How old are you?,Industry,Functional area of job,Job title,Job title - additional context,Annual salary (gross),Additional monetary compensation,Currency,Currency - other,Income - additional context,Country,State,City,Remote or on-site?,"Years of experience, overall",Years of experience in field,Highest level of education completed,Gender,Race
0,4/11/2023 11:02:00,35-44,Government & Public Administration,Engineering or Manufacturing,Materials Engineer,NaN,125000,800.0,USD,NaN,NaN,United States,California,Ridgecrest,On-site,11-20 years,11-20 years,College degree,Man,White
1,4/11/2023 11:02:07,25-34,"Galleries, Libraries, Archives & Museums","Galleries, Libraries, Archives & Museums",Assistant Branch Manager,NaN,71000,0.0,USD,NaN,NaN,United States,Virginia,Fairfax County,On-site,8-10 years,5-7 years,Master's degree,Man,White
2,4/11/2023 11:02:12,35-44,Education (Higher Education),Education (Higher Education),Director of Financial Aid,NaN,60000,0.0,USD,NaN,NaN,United States,Oklahoma,Anadarko,On-site,21-30 years,11-20 years,College degree,Woman,White
3,4/11/2023 11:02:15,25-34,Education (Higher Education),Government & Public Administration,Administrative Assistant,NaN,42000,NaN,USD,NaN,NaN,United States,Virginia,Richmond,On-site,2-4 years,2-4 years,College degree,Man,White
4,4/11/2023 11:02:25,18-24,"Accounting, Banking & Finance",Administration,Executive Assistant,NaN,65000,0.0,USD,NaN,NaN,United States,Utah,Orem,On-site,2-4 years,2-4 years,Some college,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17159,5/22/2024 21:19:00,35-44,Retail,Engineering or Manufacturing,Senior Product Developer,NaN,106000,10000.0,CAD,NaN,NaN,Canada,NaN,"Toronto, Ontario",Hybrid,11-20 years,11-20 years,University Degree,Man,White
17160,6/7/2024 12:18:11,45-54,Nonprofits,"Marketing, Advertising & PR",Director of communications,Marketing and communications,86000,0.0,USD,NaN,NaN,United States,Georgia,Powder Springs,On-site,21-30 years,8-10 years,Some college,Man,White
17161,6/19/2024 10:57:37,45-54,Education (Higher Education),Education (Higher Education),lecturer,NaN,72,NaN,EUR,NaN,NaN,Germany,NaN,Bavaria,Hybrid,21-30 years,21-30 years,Master's degree,Woman,White
17162,6/23/2024 16:11:57,55-64,Health care,Health care,Resource nurse,Infusion specialist,116000,0.0,USD,NaN,NaN,United States,Minnesota,Minneapolis,Hybrid,41 years or more,11-20 years,College degree,Man,White
17163,7/2/2024 22:34:20,55-64,Sales,Sales,Call Center QA,NaN,62400,0.0,USD,NaN,1099,United States,North Carolina,Raleigh,Fully remote,11-20 years,2-4 years,College degree,Woman,White

In [23]:
survey_data.fillna(value={"Additional monetary compensation": 0}, inplace=True)

In [16]:
survey_data["Additional monetary compensation"]

0          800.0
1            0.0
2            0.0
3            NaN
4            0.0
          ...
17159    10000.0
17160        0.0
17161        NaN
17162        0.0
17163        0.0
Name: Additional monetary compensation, Length: 17164, dtype: float64

In [24]:
survey_data[survey_data["Additional monetary compensation"] % 1 != 0].loc[:, "Additional monetary compensation"]

Series([], Name: Additional monetary compensation, dtype: float64)

In [40]:
survey_data["Additional monetary compensation"] = survey_data.loc[:, "Additional monetary compensation"].astype(int)

In [41]:
survey_data.loc[:, "Additional monetary compensation"]

0          800
1            0
2            0
3            0
4            0
         ...
17159    10000
17160        0
17161        0
17162        0
17163        0
Name: Additional monetary compensation, Length: 17164, dtype: int64

In [42]:
survey_data.columns

Index(['Timestamp', 'How old are you?', 'Industry', 'Functional area of job',
       'Job title', 'Job title - additional context', 'Annual salary (gross)',
       'Additional monetary compensation', 'Currency', 'Currency - other',
       'Income - additional context', 'Country', 'State', 'City',
       'Remote or on-site?', 'Years of experience, overall',
       'Years of experience in field', 'Highest level of education completed',
       'Gender', 'Race'],
      dtype='object')

In [44]:
print("\n".join(list(survey_data.columns)))

Timestamp
How old are you?
Industry
Functional area of job
Job title
Job title - additional context
Annual salary (gross)
Additional monetary compensation
Currency
Currency - other
Income - additional context
Country
State
City
Remote or on-site?
Years of experience, overall
Years of experience in field
Highest level of education completed
Gender
Race

In [45]:
survey_data["Total compensation"] = survey_data.loc[:, "Annual salary (gross)"] + survey_data.loc[:, "Additional monetary compensation"]

In [46]:
survey_data["Total compensation"]

0        125800
1         71000
2         60000
3         42000
4         65000
          ...
17159    116000
17160     86000
17161        72
17162    116000
17163     62400
Name: Total compensation, Length: 17164, dtype: int64

In [52]:
survey_data["Currency"].value_counts()

Currency
USD        14318
CAD         1099
GBP          857
EUR          370
AUD/NZD      366
Other         68
SEK           33
CHF           27
JPY           13
ZAR            8
HKD            5
Name: count, dtype: int64

In [72]:
survey_data["Country"].value_counts()

Country
United States                 14235
Canada                         1107
United Kingdom                  865
Australia                       285
Germany                         134
                              ...
Aotearoa New Zealand              1
Iceland for a U.S. company        1
MEXICO                            1
Sub-saharan Africa                1
New zealand                       1
Name: count, Length: 119, dtype: int64

## Drop AUS/NZD rows

In [83]:
survey_data.shape

(17164, 21)

In [87]:
survey_data[(survey_data["Currency"] == "AUD/NZD")].index

Index([  529,   810,  1270,  1576,  1872,  2131,  3003,  3061,  5538,  5716,
       ...
       16858, 16867, 16897, 16923, 16925, 16960, 17009, 17089, 17123, 17136],
      dtype='int64', length=366)

In [88]:
survey_data_no_aus = survey_data.drop(survey_data[(survey_data["Currency"] == "AUD/NZD")].index)

In [89]:
survey_data_no_aus["Currency"].value_counts()

Currency
USD      14318
CAD       1099
GBP        857
EUR        370
Other       68
SEK         33
CHF         27
JPY         13
ZAR          8
HKD          5
Name: count, dtype: int64

In [98]:
survey_data[survey_data["Currency - other"] == "0"]

,Timestamp,How old are you?,Industry,Functional area of job,Job title,Job title - additional context,Annual salary (gross),Additional monetary compensation,Currency,Currency - other,...,Country,State,City,Remote or on-site?,"Years of experience, overall",Years of experience in field,Highest level of education completed,Gender,Race,Total compensation
6212,4/11/2023 13:39:42,35-44,Health care,Administration,Practice Supervisor,NaN,54000,0,USD,0,...,United States,Pennsylvania,Philadelphia,On-site,11-20 years,2-4 years,College degree,Man,White,54000
13078,4/12/2023 14:52:53,25-34,Government & Public Administration,Government & Public Administration,Policy Advisor,NaN,102000,0,CAD,0,...,Canada,NaN,"Ottawa, Ontario",Hybrid,8-10 years,5-7 years,Master's degree,Woman,White,102000
16861,7/16/2023 11:10:51,45-54,Engineering or Manufacturing,Engineering or Manufacturing,Applications engineer,NaN,112000,0,USD,0,...,United States,Texas,Denton,On-site,11-20 years,21-30 years,College degree,Man,White,112000

In [70]:
survey_data["Currency - other"].dropna().value_counts()["PLN "]

np.int64(2)

In [68]:
survey_data["Currency - other"].dropna().map(lambda x: x.startswith("PLN")).sum()

np.int64(4)

In [62]:
survey_data["Currency - other"].value_counts().shape

(49,)

In [152]:
exchange_rates = pd.read_csv("../data/average_csv_2023-12.csv")

In [153]:
print(exchange_rates.head())

     Country    Unit Of Currency Currency Code  \
0  Abu Dhabi              Dirham           AED
1    Albania                 Lek           ALL
2    Algeria               Dinar           DZD
3     Angola        Readj Kwanza           AOA
4    Antigua  E Caribbean Dollar           XCD

   Sterling value of Currency Unit £  Currency Units per £1
0                             0.2190                 4.5660
1                             0.0079               125.9306
2                             0.0059               169.2453
3                             0.0012               834.3142
4                             0.2978                 3.3578

In [157]:
exchange_rates.shape

(161, 5)

In [164]:
exch_map = exchange_rates.loc[:, ["Currency Code", "Sterling value of Currency Unit £"]]  # Copy the two colums we're interested in
exch_map.drop_duplicates(keep='first', inplace=True)  # Get rid of duplicate rows
exch_map.set_index("Currency Code", inplace=True) # Use the "Currency Code" column as the index
exch_map = exch_map.iloc[:, 0]  # Take only the column at position 0 (this is also the only column)
print(exch_map.head())

Currency Code
AED    0.2190
ALL    0.0079
DZD    0.0059
AOA    0.0012
XCD    0.2978
Name: Sterling value of Currency Unit £, dtype: float64

In [165]:
exch_map.shape

(139,)

In [130]:
exch_map["USD"]

np.float64(0.8044)

In [122]:
survey_data["Currency"].isin(exchange_rates["Currency Code"]).sum()

np.int64(15873)

In [129]:
survey_data["Currency"].isin(exch_map.index).sum()

np.int64(15873)

In [132]:
survey_data["Currency"]

0        USD
1        USD
2        USD
3        USD
4        USD
        ...
17159    CAD
17160    USD
17161    EUR
17162    USD
17163    USD
Name: Currency, Length: 17164, dtype: object

In [137]:
exch_map.index.value_counts()[exch_map.index.value_counts() > 1]

Currency Code
XOF    8
XCD    7
XAF    6
AED    3
XPF    3
Name: count, dtype: int64

In [158]:
exch_map.index.drop_duplicates().shape

(139,)

In [141]:
exch_map[exch_map.index.drop_duplicates()]

Currency Code
AED    0.2190
AED    0.2190
AED    0.2190
ALL    0.0079
DZD    0.0059
        ...
VND    0.0000
WST    0.2948
YER    0.0032
ZMW    0.0412
ZWL    0.0006
Name: Sterling value of Currency Unit £, Length: 161, dtype: float64

In [142]:
exch_map.index.shape

(161,)

In [143]:
exch_map.index.drop_duplicates()

Index(['AED', 'ALL', 'DZD', 'AOA', 'XCD', 'ARS', 'AMD', 'AWG', 'AUD', 'AZN',
       ...
       'UAH', 'UYU', 'USD', 'UZS', 'VUV', 'VND', 'WST', 'YER', 'ZMW', 'ZWL'],
      dtype='object', name='Currency Code', length=139)

In [166]:
exch_map["AED"]

np.float64(0.219)

In [171]:
survey_data[~survey_data["Currency"].isin(exch_map.index)].loc[:, "Currency"].value_counts()

Currency
GBP        857
AUD/NZD    366
Other       68
Name: count, dtype: int64

In [172]:
exch_map["GBP"] = 1

In [173]:
survey_data[~survey_data["Currency"].isin(exch_map.index)].loc[:, "Currency"].value_counts()

Currency
AUD/NZD    366
Other       68
Name: count, dtype: int64

In [174]:
survey_data["Currency - other"].value_counts().head(20)

Currency - other
SGD                 9
NOK                 8
NZD                 7
CZK                 4
DKK                 4
BRL                 3
0                   3
MXN                 3
HUF                 2
AUD                 2
PLN                 2
PLN                 2
Danish Kroner       2
INR                 2
ILS                 2
N/a                 2
HKD                 1
BGN                 1
Chinese Renminbi    1
Bulgarian lev       1
Name: count, dtype: int64

In [175]:
survey_data[~survey_data["Currency - other"].isin(exch_map.index)].loc[:, "Currency - other"].value_counts()

Currency - other
0                                                                                                                  3
PLN                                                                                                                2
N/a                                                                                                                2
Danish Kroner                                                                                                      2
end-of-year bonus is a double paycheck                                                                             1
USD                                                                                                                1
Pln                                                                                                                1
Dkk                                                                                                                1
NIS                                                                                                                1
5200 education benefit                                                                                             1
Quarterly bonuses                                                                                                  1
BGR                                                                                                                1
Pension and 401k matching                                                                                          1
Bulgarian lev                                                                                                      1
Chinese Renminbi                                                                                                   1
Indian Rupee                                                                                                       1
Sgd                                                                                                                1
NOK                                                                                                                1
Just noting that AUD and NZD are very different :) - I'm paid in AUD                                               1
Additional comp is in USD                                                                                          1
Tuition Reimbursement                                                                                              1
Female                                                                                                             1
variable annual bonus                                                                                              1
Trinidad and Tobago dollars                                                                                        1
My employer pays for a round trip flight home to the US each year, as well as providing a stipend for housing.     1
Mexican Pesos                                                                                                      1
Stock options and other compensation                                                                               1
Icelandic krona (ISK)                                                                                              1
Polish złoty (PLN)                                                                                                 1
Name: count, dtype: int64

In [200]:
survey_data_no_aus["GBP exchange rate"] = survey_data_no_aus["Currency"].map(exch_map)

In [201]:
survey_data_no_aus["GBP exchange rate"].value_counts()

GBP exchange rate
0.8044    14318
0.5965     1099
1.0000      857
0.8700      370
0.0761       33
0.8936       27
0.0058       13
0.0440        8
0.1028        5
Name: count, dtype: int64

In [202]:
survey_data_no_aus[survey_data_no_aus["GBP exchange rate"].isna()]

,Timestamp,How old are you?,Industry,Functional area of job,Job title,Job title - additional context,Annual salary (gross),Additional monetary compensation,Currency,Currency - other,...,City,Remote or on-site?,"Years of experience, overall",Years of experience in field,Highest level of education completed,Gender,Race,Total compensation,GBP_exchange_rate,GBP exchange rate
135,4/11/2023 11:06:28,35-44,"Galleries, Libraries, Archives & Museums","Galleries, Libraries, Archives & Museums",Librarian,NaN,530000,0,Other,NOK,...,Nordland,On-site,21-30 years,11-20 years,College degree,Woman,White,530000,NaN,NaN
641,4/11/2023 11:14:37,35-44,Education (Higher Education),Education (Higher Education),Associate Professor,,638760,0,Other,Danish Kroner,...,Copenhagen,On-site,8-10 years,8-10 years,PhD,Man,White,638760,NaN,NaN
1191,4/11/2023 11:22:18,25-34,Business or Consulting,Business or Consulting,Project Manager,NaN,210000,18000,Other,PLN,...,Warsaw,Hybrid,11-20 years,8-10 years,Master's degree,Man,White,228000,NaN,NaN
1503,4/11/2023 11:26:06,25-34,Business or Consulting,Business or Consulting,Regional Manager,NaN,96000,0,Other,SGD,...,Singapore,On-site,8-10 years,5-7 years,Master's degree,NaN,NaN,96000,NaN,NaN
2258,4/11/2023 11:38:49,35-44,Computing or Tech,Computing or Tech,System analyst and Developer,NaN,100000,0,Other,BRL,...,Lavras - Minas Gerais,Fully remote,11-20 years,11-20 years,Some college,Man,White,100000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16432,4/21/2023 8:38:41,25-34,"Marketing, Advertising & PR","Marketing, Advertising & PR",Freelance PR Consultant/Copywriter,NaN,115000,0,Other,BMD,...,Hamilton,Fully remote,11-20 years,8-10 years,Master's degree,Woman,White,115000,NaN,NaN
16629,4/30/2023 11:15:26,35-44,"Accounting, Banking & Finance",Computing or Tech,Product Manager,NaN,73000,0,Other,DKK,...,Copenhagen,On-site,11-20 years,8-10 years,Master's degree,Woman,White,73000,NaN,NaN
16630,4/30/2023 11:32:06,35-44,"Accounting, Banking & Finance",Computing or Tech,Product Manager,NaN,876000,0,Other,DKK,...,Copenhagen,On-site,11-20 years,8-10 years,Master's degree,Woman,White,876000,NaN,NaN
16707,5/12/2023 4:58:50,25-34,"Marketing, Advertising & PR","Marketing, Advertising & PR",E-Commerce Executives,"To help client book, execute, and gaining GMV ...",125000000,20000000,Other,IDR,...,Depok,Hybrid,2-4 years,2-4 years,NaN,Man,Another option not listed here or prefer not t...,145000000,NaN,NaN
16989,9/17/2023 22:43:19,25-34,Education (Higher Education),"Marketing, Advertising & PR",Content and PR Specialist,NaN,45600,0,Other,SGD,...,Singapore,Hybrid,2-4 years,2-4 years,College degree,Woman,Asian or Asian American,45600,NaN,NaN

In [211]:
survey_data_no_aus["Currency - other"].value_counts().head(20)

Currency - other
SGD                          9
NOK                          8
CZK                          4
DKK                          4
NZD                          3
MXN                          3
BRL                          3
0                            3
PLN                          2
HUF                          2
INR                          2
AUD                          2
Danish Kroner                2
N/a                          2
ILS                          2
PLN                          2
Pension and 401k matching    1
Chinese Renminbi             1
BGN                          1
HKD                          1
Name: count, dtype: int64

In [215]:
curr_not_na_mask = ~survey_data_no_aus["Currency - other"].isna()
survey_data_no_aus["Currency - cleaned"] = survey_data_no_aus["Currency - other"][curr_not_na_mask].map(str.strip)
survey_data_no_aus["Currency - cleaned"].value_counts().head(20)

Currency - cleaned
NOK                          9
SGD                          9
CZK                          4
PLN                          4
DKK                          4
BRL                          3
NZD                          3
MXN                          3
0                            3
INR                          2
N/a                          2
HUF                          2
AUD                          2
USD                          2
Danish Kroner                2
ILS                          2
variable annual bonus        1
Quarterly bonuses            1
Bulgarian lev                1
Pension and 401k matching    1
Name: count, dtype: int64

In [220]:
survey_data_no_aus[survey_data_no_aus["Currency - cleaned"] == "AUD"]

,Timestamp,How old are you?,Industry,Functional area of job,Job title,Job title - additional context,Annual salary (gross),Additional monetary compensation,Currency,Currency - other,...,Remote or on-site?,"Years of experience, overall",Years of experience in field,Highest level of education completed,Gender,Race,Total compensation,GBP_exchange_rate,GBP exchange rate,Currency - cleaned
7971,4/11/2023 15:40:42,35-44,Government & Public Administration,Recruitment or HR,Senior Consultant Leadership and Talent,NaN,110000,0,Other,AUD,...,On-site,11-20 years,2-4 years,College degree,Woman,White,110000,NaN,NaN,AUD
15401,4/14/2023 6:19:14,18-24,Government & Public Administration,Law,Government in-house counsel,NaN,80681,0,Other,AUD,...,Hybrid,1 year or less,1 year or less,College degree,Woman,Another option not listed here or prefer not t...,80681,NaN,NaN,AUD

In [221]:
cleaned_exch_rates = survey_data_no_aus["Currency - cleaned"].map(exch_map)

In [229]:
cleaned_exch_rates = survey_data_no_aus["Currency - cleaned"].map(exch_map)
survey_data_no_aus.loc[~cleaned_exch_rates.isna(), "GBP exchange rate"] = cleaned_exch_rates

In [230]:
survey_data_no_aus["GBP exchange rate"].value_counts()

GBP exchange rate
0.8044    14319
0.5965     1099
1.0000      857
0.8700      370
0.0761       34
0.8936       27
0.0058       13
0.5989        9
0.0768        9
0.0440        8
0.1028        6
0.1906        4
0.1168        4
0.0362        4
0.1604        3
0.0450        3
0.4955        3
0.0097        2
0.2201        2
0.5362        2
0.0023        2
0.0006        1
0.4448        1
0.0349        1
0.0001        1
Name: count, dtype: int64

In [232]:
survey_data_no_aus["GBP"] = survey_data_no_aus["Total compensation"] * survey_data_no_aus["GBP exchange rate"]

In [233]:
survey_data_no_aus["GBP"]

0        101193.52
1         57112.40
2         48264.00
3         33784.80
4         52286.00
           ...
17159     69194.00
17160     69178.40
17161        62.64
17162     93310.40
17163     50194.56
Name: GBP, Length: 16798, dtype: float64