# Messy data

In [1]:
import pandas as pd

In [3]:
survey_data = pd.read_csv("../data/salary_survey_2023.csv")

In [6]:
survey_data.shape

(17164, 20)

In [9]:
print(survey_data.head(2))

            Timestamp How old are you?  \
0  4/11/2023 11:02:00            35-44
1  4/11/2023 11:02:07            25-34

                                   Industry  \
0        Government & Public Administration
1  Galleries, Libraries, Archives & Museums

                     Functional area of job                 Job title  \
0              Engineering or Manufacturing        Materials Engineer
1  Galleries, Libraries, Archives & Museums  Assistant Branch Manager

  Job title - additional context  Annual salary (gross)  \
0                            NaN                 125000
1                            NaN                  71000

   Additional monetary compensation Currency Currency - other  \
0                             800.0      USD              NaN
1                               0.0      USD              NaN

  Income - additional context        Country       State            City  \
0                         NaN  United States  California      Ridgecrest
1                         NaN  United States    Virginia  Fairfax County

  Remote or on-site? Years of experience, overall  \
0            On-site                  11-20 years
1            On-site                   8-10 years

  Years of experience in field Highest level of education completed Gender  \
0                  11-20 years                       College degree    Man
1                    5-7 years                      Master's degree    Man

    Race
0  White
1  White

In [21]:
for col in survey_data.columns:
    print(f"{survey_data.loc[:, col].dtype}: {col}")

object: Timestamp
object: How old are you?
object: Industry
object: Functional area of job
object: Job title
object: Job title - additional context
int64: Annual salary (gross)
float64: Additional monetary compensation
object: Currency
object: Currency - other
object: Income - additional context
object: Country
object: State
object: City
object: Remote or on-site?
object: Years of experience, overall
object: Years of experience in field
object: Highest level of education completed
object: Gender
object: Race

In [23]:
for i, c in enumerate(survey_data.columns):
    print(f"{i}: {c}")

0: Timestamp
1: How old are you?
2: Industry
3: Functional area of job
4: Job title
5: Job title - additional context
6: Annual salary (gross)
7: Additional monetary compensation
8: Currency
9: Currency - other
10: Income - additional context
11: Country
12: State
13: City
14: Remote or on-site?
15: Years of experience, overall
16: Years of experience in field
17: Highest level of education completed
18: Gender
19: Race

In [24]:
survey_data[survey_data["Additional monetary compensation"] % 1 != 0]

,Timestamp,How old are you?,Industry,Functional area of job,Job title,Job title - additional context,Annual salary (gross),Additional monetary compensation,Currency,Currency - other,Income - additional context,Country,State,City,Remote or on-site?,"Years of experience, overall",Years of experience in field,Highest level of education completed,Gender,Race
3,4/11/2023 11:02:15,25-34,Education (Higher Education),Government & Public Administration,Administrative Assistant,NaN,42000,NaN,USD,NaN,NaN,United States,Virginia,Richmond,On-site,2-4 years,2-4 years,College degree,Man,White
7,4/11/2023 11:02:35,35-44,Hospitality & Events,Hospitality & Events,Assistant Manager,Front Office Department,50000,NaN,USD,NaN,NaN,United States,Ohio,Columbus,On-site,11-20 years,5-7 years,College degree,Woman,White
8,4/11/2023 11:02:36,25-34,Computing or Tech,Computing or Tech,Systems Administrator,NaN,99000,NaN,USD,NaN,NaN,United States,Illinois,Chicago,Fully remote,5-7 years,5-7 years,College degree,Woman,White
10,4/11/2023 11:02:42,45-54,Education (Primary/Secondary),Education (Primary/Secondary),High School Science Teacher,NaN,64000,NaN,USD,NaN,NaN,United States,New York,"Henrietta, NY",On-site,21-30 years,11-20 years,Master's degree,Man,White
13,4/11/2023 11:02:50,25-34,Biotechnology & Pharma,Administration,Project Coordinator,NaN,30400,NaN,GBP,NaN,NaN,United Kingdom,NaN,Glasgow,Fully remote,5-7 years,5-7 years,Master's degree,Woman,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17147,3/25/2024 17:57:40,45-54,Nonprofits,Computing or Tech,Project Manager,NaN,99809,NaN,USD,NaN,NaN,United States,Illinois,Oak Brook,Hybrid,21-30 years,5-7 years,College degree,Woman,White
17148,4/3/2024 1:34:33,18-24,Retail,Retail,Student food service worker,NaN,33172,NaN,USD,NaN,Student workers are only allowed to work 25 ho...,United States,Oregon,Eugene,On-site,1 year or less,1 year or less,Some college,Non-binary,White
17152,4/26/2024 18:35:21,25-34,Business or Consulting,Recruitment or HR,HR Manager,I’m an HR department of one,75000,NaN,USD,NaN,Small employer (~60 employees),United States,Tennessee,Nashville,Fully remote,11-20 years,8-10 years,College degree,Woman,White
17153,4/27/2024 21:01:23,45-54,Health care,Administration,Project manager,NaN,110000,NaN,USD,NaN,NaN,United States,NaN,Seattle,Hybrid,21-30 years,11-20 years,College degree,Woman,White
17161,6/19/2024 10:57:37,45-54,Education (Higher Education),Education (Higher Education),lecturer,NaN,72,NaN,EUR,NaN,NaN,Germany,NaN,Bavaria,Hybrid,21-30 years,21-30 years,Master's degree,Woman,White